<p>Dear <%= fullName %>,</p>
    <p></p>
<div>Congratulations! You have been added as a <%= userType%> for organization <%= organization %>.</div>
<div>Your credentials are below:</div>
    <p></p>
<div>User id : <%= toEmail %></div>
<div>Password : <%= password %></div>
<div>Passcode : <%= passcode %></div>
<p></p>
<div>To login Application, please click on following <a href=<%= url %>>link</a>.</div>
<p></p>
<div>Regards,</div>
<div>iPASS Team</div>


