Hi <%= fullName %>,
    <p></p>
<div>We have received <%= text %> from <%= reportedBy %> of <%= organization %></div>
    <p></p>
<div>Title : <%= title %></div>
<div>Reported by : <%= reportedBy %></div>
<div>Description : <%= description %></div>
    <p></p>
<div>Please address the feedback.</div>
<p></p>
<div>Regards,</div>
<div><%= reportedBy %></div>
