Hi Initiator,
<p></p>
<div><%= fullName %> has requested for initiating an advice with following payment details:</div>
<p></p>
<div>Payment Request Number :<%= payment_req_number %></div>
<div>Project Name :<%= projectName %></div>
<div>Amount :<%= requestedAmount %></div>
<div>Payee Name :<%= payeeName %></div>

<p></p>
<div>Regards,</div>
<div>iPASS Team</div>
