Hi <%= fullName %>,
<p></p>
<div>Initiator has rejected the following payment request:</div>
<p></p>
<div>Payment Request Number :<%= payment_req_number %></div>
<div>Project Name :<%= projectName %></div>
<div>Amount :<%= requestedAmount %></div>
<div>Payee Name :<%= payeeName %></div>

<p></p>
<div>Regards,</div>
<div>iPASS Team</div>
