<p>Dear <%= name %>,</p>
    <p></p>
<div>We welcome you to iPASS.</div>
<p></p>
<div>You have been successfully on-boarded on iPASS. Following are the details please review.</div>
    <p></p>
<div>Organization Name : <%= name %></div>
<div>Domain Name : <%= domain %></div>
<div>Sector : <%= sector %></div>
<div>Organization Code : <%= code %></div>
    <p></p>
<div>Your admin is <%= admin_name %>, <%= admin_email %>, </div>
<p></p>
<div>Please access the app at <%= url %>. Login with admin credentials.</div>
<p></p>
<div>Regards,</div>
<div>iPASS Team</div>