Hi <%= fullName %>,
<p></p>
<!--<div>Your request for payment with below details has been rejected by <%= approvalName %> (<%= approvalStatus %>):</div>-->
<div>Your request for payment with below details is <%= approvalStatus %> by <%= approvalName %>:</div>
<p></p>
<div>Payment advice number: <%= adviceNumber %></div>
<div>Payee name: <%= payeeName %></div>
<div>Project Name: <%= projectName %></div>
<div>Amount: <%= requestedAmount %></div>

<p></p>
<div>Regards,</div>
<div>iPASS Team</div>


