Hi <%= fullName %>,
<p></p>
<!--<div>Your request for payment with below details has been successfully disbursed on <b>Date:</b><%= disburseDate %> of disbursement by <%= disburserName %> (<%= disburserStatus %>):</div>-->
<div>Your request for payment with below details is <%= disburserStatus %> on <b>Date:</b><%= disburseDate %> of disbursement by <%= disburserName %>:</div>
<p></p>
<div>Payment advice number: <%= adviceNumber %></div>
<div>Payee name: <%= payeeName %></div>
<div>Project Name: <%= projectName %></div>
<div>Amount: <%= requestedAmount %></div>

<p></p>
<div>Regards,</div>
<div>iPASS Team</div>


