Hi <%= fullName %>,
<p></p>
<div>Initiator has processed the following payment request and an advice has been initiated for the same. </div>
<div>Following are payment request details and advice details.</div>
<p></p>
<div><b>Payment Request details:</b></div>
<div>Payment Request Number:<%= payment_req_number %></div>
<div>Project Name :<%= paymentRequestProjectName %></div>
<div>Payee Name :<%= paymentRequestPayeeName %></div>
<div>Amount :<%= paymentRequestAmount %></div>

<p></p>
<div><b>Advice details:</b></div>
<div>Advice Number: <%=adviceNumber%></div>
<div>Project Name: <%= adviceProjectName%></div>
<div>Payee Name: <%= advicePayeeName %></div>
<div>Amount: <%= requestedAmount %></div>
<p></p>
<div>Regards,</div>
<div>iPASS Team</div>