Hi <%= fullName %>,
<p></p>
<div><%=  textTemplate %> <%=  approval %>:</div>
<p></p>
<div>Payment advice number :<%= adviceNumber %></div>
<div>Payee name :<%= payeeName %></div>
<div>Project Name :<%= projectName %></div>
<div>Amount :<%= requestedAmount %></div>

<p></p>
<div>Regards,</div>
<div>iPASS Team</div>
